version: "3.9"
services:
  mysqldb:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=$MYSQLDB_ROOT_PASSWORD
      - MYSQL_DATABASE=$MYSQLDB_DATABASE
    ports:
      - $MYSQL_DB_PORT:$MYSQL_DB_PORT

  app:
    container_name: node
    build: ../
    env_file: .env
    ports:
      - $NODE_PORT:$NODE_PORT
    environment:
      - NODE_PORT=$NODE_PORT
      - DATABASE_URL=mysql://root:$MYSQLDB_ROOT_PASSWORD@localhost:$MYSQL_DB_PORT/$MYSQLDB_DATABASE
    depends_on:
      - mysqldb
